In [3]:
import numpy as np
import matplotlib.pyplot as pyplot
import pandas as pd
import pickle

loan_data=pd.read_csv('loan_train.csv')
train_data = loan_data.drop('Unnamed: 0', axis = 1)

In [4]:
train_data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP002305,Female,No,0,Graduate,No,4547,0.0,115.0,360.0,1.0,Semiurban,1
1,LP001715,Male,Yes,3+,Not Graduate,Yes,5703,0.0,130.0,360.0,1.0,Rural,1
2,LP002086,Female,Yes,0,Graduate,No,4333,2451.0,110.0,360.0,1.0,Urban,0
3,LP001136,Male,Yes,0,Not Graduate,Yes,4695,0.0,96.0,NaN,1.0,Urban,1
4,LP002529,Male,Yes,2,Graduate,No,6700,1750.0,230.0,300.0,1.0,Semiurban,1

In [7]:
##Replace missing values -- Continuous Variable

train_data.Credit_History.fillna(train_data['Credit_History'].median(), inplace = True)
train_data.LoanAmount.fillna(train_data['LoanAmount'].median(), inplace = True)
train_data.Loan_Amount_Term.fillna(train_data['Loan_Amount_Term'].median(), inplace = True)

##Replace missing values -- Categorical Variable

train_data.Self_Employed.fillna(train_data['Self_Employed'].value_counts().index[0], inplace = True)
train_data.Gender.fillna(train_data['Gender'].value_counts().index[0], inplace = True)
train_data.Dependents.fillna(train_data['Dependents'].value_counts().index[0], inplace = True)
train_data.Married.fillna(train_data['Married'].value_counts().index[0], inplace = True)

##Splitting the target and feature variables
X_train = train_data.drop(['Loan_Status','Loan_ID'], axis = 1)
y_train = train_data['Loan_Status']


##One hot encoding
X_train = pd.get_dummies(X_train, columns=['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed','Property_Area'])

##Logistic Regression Model
from sklearn.linear_model import LogisticRegression
model_final = LogisticRegression()
model_final.fit(X_train,y_train)

LogisticRegression()

In [8]:
pickle.dump(model_final, open('model.pkl','wb'))

In [9]:
X_train.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,4547,0.0,115.0,360.0,1.0,1,0,1,0,1,0,0,0,1,0,1,0,0,1,0
1,5703,0.0,130.0,360.0,1.0,0,1,0,1,0,0,0,1,0,1,0,1,1,0,0
2,4333,2451.0,110.0,360.0,1.0,1,0,0,1,1,0,0,0,1,0,1,0,0,0,1
3,4695,0.0,96.0,360.0,1.0,0,1,0,1,1,0,0,0,0,1,0,1,0,0,1
4,6700,1750.0,230.0,300.0,1.0,0,1,0,1,0,0,1,0,1,0,1,0,0,1,0

In [13]:
## calling the model to predict 
data =[]

item = [4547, 0, 115, 360, 1,'Male','No','0','Graduate','No','Semiurban']

##ApplicantIncome
data.append(item[0])
##CoApplicantIncome
data.append(item[1])
##LoanAmount
data.append(item[2])
##LoanAmountTerm
data.append(item[3])
##Credit_History
data.append(item[4])

##Gender
if item[5] == 'Male':
    data.append(0)
    data.append(1)
else:
    data.append(1)
    data.append(0)
##Married
if item[6] == 'No':
    data.append(1)
    data.append(0)
else:
    data.append(0)
    data.append(1)
##Dependents
if item[7] == '0':
    data.append(1)
    data.append(0)
    data.append(0)
    data.append(0)
elif item[7] == '1':
    data.append(0)
    data.append(1)
    data.append(0)
    data.append(0)
elif item[7] == '2':
    data.append(0)
    data.append(0)
    data.append(1)
    data.append(0)
else:
    data.append(0)
    data.append(0)
    data.append(0)
    data.append(1)
##Graduation
if item[8] == 'Graduate':
    data.append(1)
    data.append(0)
else:
    data.append(0)
    data.append(1)

##Self_Employed
if item[9] == 'No':
    data.append(1)
    data.append(0)
else:
    data.append(0) 
    data.append(1)

##Property
if item[10] == 'Rural':
    data.append(1)
    data.append(0)
    data.append(0)
elif item[10] == 'Semiurban':
    data.append(0)
    data.append(1)
    data.append(0)
else :
    data.append(0)
    data.append(0)
    data.append(1)

print(data)

# this is single sample
print(model_final.predict([data]))

[4547, 0, 115, 360, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0]
[1]

In [14]:
type(model_final.predict([data]))

numpy.ndarray